.full-height{
    /* height: 100vh; */
    margin-bottom: 0 !important;
    text-align: center;
}

::-webkit-scrollbar {
    display: none;
    }

#display-4{
    background-image: url('https://images.pexels.com/photos/610293/pexels-photo-610293.jpeg');
    background-repeat: no-repeat;
    color: #fff;
    padding: 30px 0;
    background-size: cover;
}

.spider{
    height: 200px;
    width: 200px;
    margin-top: 100px;
}

.bg-color{
    background: #4721E8;
    height: 100vh;
}

.box{
    background: #6DEDCA;
    border-radius: 4px;
    transform: rotate(45deg);
    height: 100px;
    width: 100px;
    margin-top: 200px;
    position: absolute;
}

body{
    background: #eee;
}

.boxes{
    display: inline-block;
    margin-top: 60px;
}

.boxe{
    height: 50px;
    width: 50px;
    border-radius: 6px;
    background: greenyellow;
    margin-right: 10px;
    float: left;
}

.bg-grey{
    background: #ddd;
    padding-top: 60px;
}

.square{
    height: 50px;
    width: 50px;
    border-radius: 6px;
    margin-bottom: 20px;
    margin-right: 20px;
    position: relative;
    display: inline-block;
    clear: both;
}

.green{
    background: green;
}

.orange{
    background: orange;
}

.grey{
    background: grey;
}

.jumbotron{
    margin-bottom: 0 !important;
}

.display-4{
    font-size: 28px !important;
    font-weight: 700 !important;
}

/* Animations */

